# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

# macOS
.DS_Store

# Package targets
_targets/

# Package csasdown
_book
report/csas-style
report/knitr-cache-docx
report/knitr-cache-pdf
report/knitr-cache-tex
report/knitr-figs-docx
report/knitr-figs-pdf

# R markdown and Latex
gfcommercial.Rmd
gfcommercial.tex

# Latex and Miscellaneous
*.aux
*.jpg
*.html
*.knit.md
*.log
*.pdf
*.png
*.rda
*.rds
*.sty
*.upa
*.utf8.md
