# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R
.Rapp.history
.Rhistory

# Mac OSX
.DS_Store

# Targets
_targets/

# Data
*.csv
*.xls
*.xlsx
*~*

# C++
*.o
*.so

# Slides
*.ppt
*.pptx

# Figures
*.png


# Emacs
*.org#

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
ltximg/

# Tex
*.bbl
*.odt
*.tex

# Vignettes
inst/doc
