# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

# macOS
.DS_Store

# External data
data-cache*
data-cache/

# Package targets
_targets/

# Package csasdown
_book
tmp*
csas-style
knitr-cache-docx
knitr-cache-pdf
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf

# R markdown and Latex
gfcommercial.Rmd
gfcommercial.tex

# Latex and Miscellaneous
*.aux
*.jpg
*.html
*.knit.md
*.log
*.pdf
*.png
*.rda
*.rds
*.sty
*.upa
*.utf8.md
